### Python Data Structure  - Working with Data in Python

In [ ]:
# Python is dynamically typed
x = 10        # x is an integer
print(type(x))  # <class 'int'>

x = "Hello"   # Now x is a string
print(type(x))  # <class 'str'>

x = [1, 2, 3] # Now x is a list
print(type(x))  # <class 'list'>

In [ ]:
# Numeric Types
integer_num = 42                    # int
float_num = 3.14159                # float
complex_num = 3 + 4j               # complex

# Text Type
text = "Hello, World!"             # str

# Boolean Type
is_true = True                     # bool
is_false = False                   # bool

# Check data type
print(type(integer_num))           # <class 'int'>
print(type(text))                  # <class 'str'>

#### Sequential Type

create a strings

In [84]:
# Different ways to create strings
single_quote = 'Hello World'
double_quote = "Hello World"
triple_quote = """This is a
multi-line string"""

# Escape characters
escaped = "She said, \"Hello!\""
newline = "Line 1\nLine 2"


# String operations
concatenated = single_quote + " " + double_quote  # Concatenation   
print(concatenated)  # Hello World Hello World
print(escaped)

Hello World Hello World
She said, "Hello!"

In [ ]:
tab = "Column1\tColumn2\tColumn3"
print(tab)

In [85]:
name = "Alice"
age = 25
score = 95.5

# f-strings (Python 3.6+) - Recommended
message = f"Hello {name}, you are {age} years old and scored {score:.1f}%"

# .format() method
message = "Hello {}, you are {} years old".format(name, age)

# % formatting (older style)
message = "Hello %s, you scored %.1f%%" % (name, score)

print(message)

Hello Alice, you scored 95.5%

In [86]:
text = "Python Programming"

# Basic operations
print(len(text))           # 18 (length)
print(text[0])             # 'P' (first character)
print(text[-1])            # 'g' (last character)
print(text[0:6])           # 'Python' (slicing)
print(text[::2])           # 'Pto rgamn' (every 2nd character)

# String methods
print(text.upper())        # 'PYTHON PROGRAMMING'
print(text.lower())        # 'python programming'
print(text.title())        # 'Python Programming'
print(text.replace('Python', 'Java'))  # 'Java Programming'
print(text.split())        # ['Python', 'Programming']
print('---'.join(['a', 'b', 'c']))     # 'a---b---c'

18
P
g
Python
Pto rgamn
PYTHON PROGRAMMING
python programming
Python Programming
Java Programming
['Python', 'Programming']
a---b---c

Common String Methods

In [ ]:
text = "  Python Programming  "

# Checking methods
print(text.startswith("Python"))   # False (has spaces)
print(text.strip().startswith("Python"))  # True
print(text.endswith("ing"))        # False (has spaces)
print(text.isdigit())              # False
print("123".isdigit())             # True
print(text.isalpha())              # False

# Cleaning methods
print(text.strip())                # Remove whitespace
print(text.lstrip())               # Remove left whitespace
print(text.rstrip())               # Remove right whitespace

# Finding and counting
print(text.find("gram"))           # Returns index of first occurrence
print(text.count("m"))             # Count occurrences

1. Lists in Python

In [ ]:
# Creating lists
fruits = ['apple', 'banana', 'orange']
numbers = [1, 2, 3, 4, 5]
mixed = ['hello', 42, 3.14, True]

In [ ]:
# create lists
fruits = ['apple', 'banana', 'orange', 'grape', 'kiwi', 'apple']

# Indexing
print(fruits[0])        # 'apple' (first element)
print(fruits[-1])       # 'apple' (last element)
print(fruits[-2])       # 'kiwi' (second to last)

apple
apple
kiwi

In [ ]:

# Slicing
print(fruits[1:4])      # ['banana', 'orange', 'grape']
print(fruits[:3])       # ['apple', 'banana', 'orange']
print(fruits[2:])       # ['orange', 'grape', 'kiwi']
print(fruits[::2])      # ['apple', 'orange', 'kiwi'] (every 2nd)
print(fruits[::-1])     # Reverse the list

Adding elements (All valid)

In [55]:
# create lists
fruits = ['apple', 'banana', 'orange']

# add items to the list 
fruits.append('grape')              
print(fruits)  # ['apple', 'banana', 'orange', 'grape']

# Insert an item at a specific position             
fruits.insert(1, 'kiwi')            
print(fruits)  # ['apple', 'kiwi', 'banana', 'orange', 'grape']


fruits[2] = 'coconut'  # Change an item
print(fruits)  # ['apple', 'kiwi', 'coconut', 'orange', 'grape']

['apple', 'banana', 'orange', 'grape']
['apple', 'kiwi', 'banana', 'orange', 'grape']
['apple', 'kiwi', 'coconut', 'orange', 'grape']

In [56]:
#Remove items from the list                     
fruits.remove('orange')               
print(fruits)  # ['apple', 'kiwi', 'coconut', 'grape']

# Removes item by index
removed_fruits = fruits.pop(2)  # Remove 'coconut'                
print (removed_fruits)

print(fruits)  # ['apple', 'kiwi', 'grape']

['apple', 'kiwi', 'coconut', 'grape']
coconut
['apple', 'kiwi', 'grape']

In [57]:
# Remove the last item
fruits.pop() # Removes 'grape'

'grape'

In [ ]:
print(fruits)  # ['apple', 'kiwi']

# Extend the list with another list
fruits.extend(['mango', 'peach'])   
print(fruits)  # ['apple', 'kiwi', 'mango', 'peach']

# Removes all items
fruits.clear()                 
print(fruits)  # []

['apple', 'kiwi']
['apple', 'kiwi', 'mango', 'peach']
[]

List methods

In [67]:
car_list = ['Toyota', 'Honda', 'Ford', 'BMW', 'Mercedes', 'Audi', 'Volkswagen']

del car_list[0]                  # Deletes the first item in the list
print(car_list)  # ['Honda', 'Ford', 'BMW', 'Mercedes', 'Audi', 'Volkswagen']

car_list.sort()                  # Sorts the list in ascending alphabetical order
print(car_list)  # ['Audi', 'BMW', 'Ford', 'Honda', 'Mercedes', 'Volkswagen']

car_list.reverse()               # Reverses the order of items in the list
print(car_list)  # ['Volkswagen', 'Mercedes', 'Honda', 'Ford', 'BMW', 'Audi']

count = car_list.count('apple')  # Counts how many times 'apple' appears in the list
print(count)  # 0 (since 'apple' is not in the list)

car_list.sort(reverse=True)  # Sorts the list in descending order
print(car_list)  # ['Volkswagen', 'Mercedes', 'Honda', 'Ford', 'BMW', 'Audi']

['Honda', 'Ford', 'BMW', 'Mercedes', 'Audi', 'Volkswagen']
['Audi', 'BMW', 'Ford', 'Honda', 'Mercedes', 'Volkswagen']
['Volkswagen', 'Mercedes', 'Honda', 'Ford', 'BMW', 'Audi']
0
['Volkswagen', 'Mercedes', 'Honda', 'Ford', 'BMW', 'Audi']

sorted() and list.sort() are used for sorting, but they differ in their behavior and application:

* Applicability:
`list.sort(): `Can only be used with list objects.
`sorted(): `Can be used with any iterable (lists, tuples, strings, sets, dictionaries, etc.).

* Memory Usage:
`list.sort():` More memory-efficient as it sorts in-place and doesn't create a new object.
`sorted(): `Creates a new list, which requires additional memory.

In [68]:
# sorted(): Built-in function (Returns a new sorted list)
numbers = [5, 2, 9, 1]
new_list = sorted(numbers)

print(new_list)    # [1, 2, 5, 9]
print(numbers)     # [5, 2, 9, 1]  — original list not changed

[1, 2, 5, 9]
[5, 2, 9, 1]

In [ ]:
# .sort(): List method (Sorts the list in place)
numbers = [5, 2, 9, 1]
numbers.sort()

print(numbers)  # [1, 2, 5, 9]  — list is changed

[1, 2, 5, 9]

In [ ]:
# Reverse sort
sorted(numbers, reverse=True)
numbers.sort(reverse=True)
print(numbers)  # [9, 5, 2, 1]  — list is sorted in reverse order

# Custom sort with key
names = ['Kaka','olivier', 'bob', 'Charlie']
sorted(names, key=str.lower)
names.sort(key=str.lower)
print(names)  # ['bob', 'Charlie', 'Kaka', 'olivier'] — sorted case-insensitively

[9, 5, 2, 1]
['bob', 'Charlie', 'Kaka', 'olivier']

In [ ]:

# Other operations
print('lenghth of the list', len(numbers))                 
print('Sum of all values in the list:',sum(numbers))             
print('Maximum value in the list:',max(numbers))               
print('Minimum value:', min(numbers))

lenghth of the list 4
Sum of all values in the list: 17
Maximum value in the list: 9
Minimum value: 1

### Set in python

Duplicates are removed

In [ ]:
# create a set
# Sets are unordered collections of unique elements
my_set = {1, 2, 2, 3, 5, 1}  # Duplicates set created
names = {"Grp A", "Grp A", "Grp B", "Grp C", "Grp E", "Grp E"}
print(my_set)  # Output: {1, 2, 3}
print (names)

{1, 2, 3}
{'Grp E', 'Grp A', 'Grp B', 'Grp C'}

Using the set() constructor:

In [79]:
# Create a set using the set() constructor 
set_const = set([1, 2, 3, 4, 5, 2, 1, 3]) 
print(set_const)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [80]:
# Set operations
set_a = {1, 2, 3}
set_b = {3, 4, 5} 
# Union
union_set = set_a | set_b  # or set_a.union(set_b)
print(union_set)  # Output: {1, 2, 3, 4, 5}
# Intersection
intersection_set = set_a & set_b  # or set_a.intersection(set_b)
print(intersection_set)  # Output: {3}
# Difference
difference_set = set_a - set_b  # or set_a.difference(set_b)  
print(difference_set)  # Output: {1, 2}
# Symmetric Difference  
symmetric_difference_set = set_a ^ set_b  # or set_a.symmetric_difference(set_b)
print(symmetric_difference_set)  # Output: {1, 2, 4, 5} 
# Adding and removing elements
set_a.add(4)  # Add an element
print(set_a)  # Output: {1, 2, 3, 4}
set_a.remove(2)  # Remove an element  
print(set_a)  # Output: {1, 3, 4}
set_a.discard(5)  # Discard an element (no error if not found)
print(set_a)  # Output: {1, 3, 4} 
# Check membership
print(3 in set_a)  # Output: True
print(5 not in set_a)  # Output: True
# Set methods
print(len(set_a))  # Output: 3 (number of elements) 
print(set_a.isdisjoint(set_b))  # Output: False (no common elements)
print(set_a.issubset(set_b))  # Output: False (set_a is not a subset of set_b)
print(set_a.issuperset({1, 3}))  # Output: True (set_a contains {1, 3})

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}
{1, 2, 3, 4}
{1, 3, 4}
{1, 3, 4}
True
True
3
False
False
True

#### Dictionary in Python

In [ ]:
#creating a dictionary
person = {
    "name": "Didier",
    "age": 30,
    "location": "Kigali"
}
print(person)  # Output: {'name': 'Didier', 'age': 30, 'location': 'Kigali'}

{'name': 'Didier', 'age': 30, 'location': 'Kigali'}

In [ ]:

# Accessing dictionary values
print(person["name"])        # Output: Didier 
print(person.get("age"))     # Output: 30

# Adding a new key-value pair 
print(person.get("location", "Unknown"))  # Output: Kigali

# Modifying a value
person["age"] = 31  
print(person["age"])         # Output: 31

In [ ]:
# Removing a key-value pair
del person["location"]
print(person)                # Output: {'name': 'Didier', 'age': 31}
# Iterating through a dictionary
for key, value in person.items():
    print(f"{key}: {value}")

In [82]:
# Dictionary methods
print(person.keys())         # Output: dict_keys(['name', 'age'])   
print(person.values())       # Output: dict_values(['Didier', 31])
print(person.items())        # Output: dict_items([('name', 'Didier'), ('age', 31)])    
# Dictionary comprehension
squared_numbers = {x: x**2 for x in range(5)}  # Creates a dictionary of numbers and their squares
print(squared_numbers)  # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

dict_keys(['name', 'age'])
dict_values(['Didier', 31])
dict_items([('name', 'Didier'), ('age', 31)])
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}